[branch "alpha"]
    merge = refs/heads/alpha
    remote = origin
[core]
    bare = false
    filemode = true
    logallrefupdates = true
    repositoryformatversion = 0
[diff]
    algorithm = histogram
[receive]
    denyCurrentBranch = warn
[remote "heroku"]
    fetch = +refs/heads/*:refs/remotes/heroku/*
    url = git@heroku.com:h1-utility2-alpha.git
[remote "origin"]
    fetch = +refs/heads/*:refs/remotes/origin/*
    url = https://github.com/kaizhu256/node-utility2
[remote "upstream"]
    fetch = +refs/heads/*:refs/remotes/upstream/*
    url = https://github.com/kaizhu256/node-utility2
[remote "utility2"]
    fetch = +refs/heads/*:refs/remotes/utility2/*
    url = https://github.com/kaizhu256/node-utility2
