*.bak
*.log
*.min.*
*.pid
*.swp
.DS_Store
._*
.build
.env
.git
.hg
.install
.lock-wscript
.src
.svn
.vim
.wafpickle-*
CVS
README.*
artifacts
bower_components
node_modules
npm-debug.log
log
logs
public
secret.json
tmp
