[branch "master"]
  remote = origin
  merge = refs/heads/master
[branch "test"]
  remote = origin
  merge = refs/heads/test
[core]
  repositoryformatversion = 0
  filemode = true
  bare = false
  logallrefupdates = true
  ignorecase = true
[remote "origin"]
  fetch = +refs/heads/*:refs/remotes/origin/*
  url = git@github.com:kaizhu256/utility2.git
[remote "heroku"]
  url = git@heroku.com:utility2.git
  fetch = +refs/heads/*:refs/remotes/heroku/*
