before_install:
    # init xvfb
    # http://docs.travis-ci.com/user/gui-and-headless-browsers/
    - export DISPLAY=:99.0 && sh -e /etc/init.d/xvfb start
branches:
    only:
    - alpha
    - beta
    - cron
    - docker.base
    - docker.latest
    - master
    - publish
    - task
env:
    global:
    # this value is auto-created by shTravisCryptoAesEncryptYml
    - secure: PlJezhIm1CSDNUOKA8m6ondo4fdVnzXsFC0S3MtRgAIhvmsY78GAvldoRQTIT5n3RHRMDGoz8SONkPNaXBMHe20Qtmcydkve/pM75EuKuhB0yQEu9ogOG2/rPEz0eTDyjiwt58qe1g1gWi9esOUnHQKgbCTFxB22oOFNjjWBX4g= # CRYPTO_AES_KEY
    # this value is auto-created by shTravisCryptoAesEncryptYml
    # - CRYPTO_AES_ENCRYPTED_SH: ZDYyYTkxMTEzNmJhODk3MGRjNTljOTc1YzVjNWE3ZGI=3UkwQ+lkgOLT2qXIvAC0rrdRrPA/VuEOBVN77p3oc6jgI0MPdrqVjRGOsXieFNuP8Sxsif0qSthUfex+6RjqVqAPDY/7gzg0UOSRolMhPMBtj4ljrohL6f5P6/rytb4VnqtOeviw7Kn6FDGHjE676/xmmGbPfnlNux3wV6DaF1RvmTEe8NgKE0BJiJUKerG+/chcJFeJz5aUptFOzyJTOMGQUP3ZQA6Ik4Q379JZjNGHLeJjlMoOar9okldj32LEJGCugMp5/UNJxM+c1QqnTOC+gldELAQ0mV6/m5M9Ydqqz4QgAcBKusIjH+b5SB+10hpI8eWTdXS8XKC6t+KH5yuzn9xmXHAdiytJZCz2N7nRApKAqtkt97z5c5kXChMEYS18VHnc+y/uRl8z5B7ZDbZTDbt8UvN2Ob4wVFs/VouGxs8HZH0q5wejRbq7BG2rHCEzcSvuPnK75U6ilQ2wOHnQQ/9dXpr2niBunpnt5V0iQWi4IYpQvp+LiOrkjNlxgyUfb8+as4NuK5ec78Wo3iv55zelSH9UKbr3rJkXlQx+U+0oDZmhxYH2Sx9kw05GG1JBPNZjmTsmxN8x5/R+10Bi82oMfp9yZTRwrUm2sIl9RwNEAMGmq1XBH5NIn7JmgowM+8pQovR/g4ytoW4l0fQs5G0b9BHLAdZsuXncRCbRldG68427lipBYPgVNr+2JfF4KWXYKibe0nMg3z70fop8TQF9vkZYCDEt2QcwZpwOTaZuyNWtVmZRqVR2HZxVfAE94vkaje2KsSx/doZpp4yrWxLsEqPciFQCY86EXm9J6m5EL/OilTUsbXZljg6qTCwJ9+kYfoeWuLYggqMLLetosrNssxCrixJylK1YZ84SmP/fNfsosHJ2yRUGfyYsYBOsL2ZFHPByqjvYBwWh4Ym1Ouy4ONAqxOX/2Vg8T0EXO1gxy07TBgjlpvvqHOc/kWptTIASrdEv9nnvwIydiazekvpZdbEMpJNm8gvX11gXKzKCzHkEA8w90AgGq7qC4on13MvoVuZkbYTW3rC3x3n3y3EHo9kngw1R2hcgBYh4I4kmO80Qn3NmZH3oyILrelHF29KUD7mhfQzTxYsMZfp4myJdlvagNsGnbig9pvu9iruy9fjqQo4SnyxHvLYI8PzsZqtLgDiiBrSxocRR14DsqqPEXw5WFJuogFFQTZHq5W7EeLAB/uAJoqpX1aoTPsGL5GJK1ECp5U4jzG3B6npsGYfckfX5ixqFJEyBLE+REELr47shTmw4aY3JNp/pG6o17gNdHpeuCVBc5QPtKq/NsnSUA1OX7AK62G7tpMRx8/N/gUuORizIi5jvUfcStTC9/7NnmdsABXT75obri/IvweHF018ysEN5LEP3lkOrNBplaPnJWZQlb+koh8tU1Xz7sv1nEsptbVKjJ66SrtuotIlDnjXpEn8C1nPgqbvgs84WHRuLi22zzSVvwxrFEWp773ozQkbRYWDHjwBDS9ptE7/H22ZGGbL7Kl7T9/6P7NFdVUNA9XuNHvXUx3IqKDB/S/7IBa9xfKL0Pk+P68ByHRdV3fNpV9JHhJXNV3F+HFBs0ymrHrcKCsEZXiw2 # CRYPTO_AES_ENCRYPTED_SH
language:
    - node_js
node_js:
    - 6
    # - node
script:
    - npm run build-ci
services:
    - docker
# http://docs.travis-ci.com/user/workers/container-based-infrastructure
sudo:
    false
