/*csslint
    box-model: false
*/
.ajaxProgressBarDiv {
    animation: 2s linear 0s normal none infinite ajaxProgressBarDivAnimation;
    background-image: linear-gradient(
    45deg,rgba(255,255,255,.25) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255,255,255,.25) 50%,
    rgba(255,255,255,.25) 75%,
    transparent 75%,
    transparent
    );
    background-size: 40px 40px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding: 2px 0 2px 0;
    text-align: center;
    text-shadow: 0 0 5px #007;
    transition: width 1s ease-in-out;
    width: 25%;
}
.ajaxProgressBarDivLoaded {
    background-color: #3b3;
}
.ajaxProgressBarDivLoading {
    background-color: #37b;
}
.ajaxProgressDiv {
    background-color: #fff;
    box-shadow: 0 0 1px 1px #333;
    display: none;
    left: 50%;
    margin: 0 0 0 -50px;
    padding: 4px 4px 4px 4px;
    position: fixed;
    top: 49%;
    width: 100px;
    z-index: 9999;
}
@keyframes ajaxProgressBarDivAnimation {
    from { background-position: 40px 0; }
    to { background-position: 0 0; }
}
