/*csslint
    adjoining-classes: false,
    box-model: false,
    box-sizing: false,
    universal-selector: false
*/
/* https://github.com/swagger-api/swagger-ui/blob/v2.1.3/dist/css/reset.css */
/* https://github.com/swagger-api/swagger-ui/blob/v2.1.3/dist/css/screen.css */



/* animate */
.swggAnimateFade {
    transition: opacity 250ms linear;
}
@keyframes swggAnimateShake {
    100% {
        transform: translateX(0);
    }
    0%, 20%, 60% {
        transform: translateX(10px);
    }
    40%, 80% {
        transform: translateX(-10px);
    }
}
.swggAnimateShake {
    animation-duration: 500ms;
    animation-name: swggAnimateShake;
}
.swggAnimateSlide {
    overflow-y: hidden;
    transition: max-height 500ms linear;
}



/* general */
.swggUiContainer,
.swggUiContainer * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.swggUiContainer {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
}
.swggUiContainer > * {
    margin-top: 1rem;
}
.swggUiContainer a {
    text-decoration: none;
}
.swggUiContainer a:hover {
    color: black;
}
.swggUiContainer a,
.swggUiContainer input,
.swggUiContainer span {
    min-height: 1.5rem;
}
.swggUiContainer button {
    padding: 0.5rem;
}
.swggUiContainer .color777 {
    color: #777;
}
.swggUiContainer .cursorPointer {
    cursor: pointer;
}
.swggUiContainer .flex1 {
    flex: 1;
}
.swggUiContainer .flex2 {
    flex: 2;
}
.swggUiContainer .flex3 {
    flex: 3;
}
.swggUiContainer .flex4 {
    flex: 4;
}
.swggUiContainer .flex5 {
    flex: 5;
}
.swggUiContainer .flex6 {
    flex: 6;
}
.swggUiContainer .flex7 {
    flex: 7;
}
.swggUiContainer .flex8 {
    flex: 8;
}
.swggUiContainer .flex9 {
    flex: 9;
}
.swggUiContainer .flex10 {
    flex: 10;
}
.swggUiContainer .flex11 {
    flex: 11;
}
.swggUiContainer .flex12 {
    flex: 12;
}
.swggUiContainer .fontLineThrough {
    text-decoration: line-through;
}
.swggUiContainer .fontWeightBold {
    font-weight: bold;
}
.swggUiContainer input {
    height: 1.5rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}
.swggUiContainer .marginTop05 {
    margin-top: 0.5rem;
}
.swggUiContainer .marginTop10 {
    margin-top: 1rem;
}
.swggUiContainer pre,
.swggUiContainer textarea {
    font-family: Menlo, Monaco, Consolas, Courier New, monospace;
    font-size: small;
    line-height: 1.25rem;
    max-height: 20rem;
    overflow: auto;
    padding: 0.25rem;
    white-space: pre;
}
.swggUiContainer .tr {
    display: flex;
}
.swggUiContainer .tr > * {
    margin-left: 1rem;
    overflow: auto;
    padding-top: 0.2rem;
    word-wrap: break-word;
}
.swggUiContainer .tr > *:first-child {
    margin-left: 0;
}
.swggUiContainer .tr > * > * {
    width: 100%;
}



/* border */
/* border-bottom-bold */
.swggUiContainer .borderBottom {
    border-bottom: 1px solid #bbb;
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
}
.swggUiContainer .borderBottomBold {
    border-bottom: 1px solid #777;
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
}
/* border-top */
.swggUiContainer .borderTop {
    border-top: 1px solid #bbb;
    margin-top: 0.5rem;
    padding-top: 0.5rem;
}
/* border-top-bold */
.swggUiContainer .borderTopBold,
.swggUiContainer .resource:first-child {
    border-top: 1px solid #777;
    margin-top: 0.5rem;
    padding-top: 0.5rem;
}
/* border-error*/
.swggUiContainer .error {
    border: 5px solid #b00;
}



/* datatable color */
.swggUiContainer .datatable tbody > tr > td {
    background: #efe;
}
.swggUiContainer .datatable tbody > tr > td:nth-child(odd) {
    background: #dfd;
}
.swggUiContainer .datatable tbody > tr:nth-child(odd) > td {
    background: #cfc;
}
.swggUiContainer .datatable tbody > tr:nth-child(odd) > td:nth-child(odd) {
    background: #bfb;
}
.swggUiContainer .datatable tbody > tr:hover > td {
    background: #afa;
}
.swggUiContainer .datatable tbody > tr:hover > td:nth-child(odd) {
    background: #9f9;
}
.swggUiContainer .datatable tbody > tr > td:hover,
.swggUiContainer .datatable tbody > tr > td:hover:nth-child(odd),
.swggUiContainer .datatable tbody > tr:nth-child(odd) > td:hover,
.swggUiContainer .datatable tbody > tr:nth-child(odd) > td:hover:nth-child(odd),
.swggUiContainer .datatable th:hover {
    background: #7f7;
}
.swggUiContainer .datatable tbody > tr.selected > td {
    background: #fee;
}
.swggUiContainer .datatable tbody > tr.selected > td:nth-child(odd) {
    background: #fdd;
}
.swggUiContainer .datatable tbody > tr.selected:nth-child(odd) > td {
    background: #fcc;
}
.swggUiContainer .datatable tbody > tr.selected:nth-child(odd) > td:nth-child(odd) {
    background: #fbb;
}



/* section */
.swggUiContainer .datatable {
    background: white;
    margin: 2rem;
    overflow: auto;
    padding: 1rem;
}
.swggUiContainer .datatable input[type=checkbox] {
    width: 1.5rem;
}
.swggUiContainer .datatable .sortAsc,
.swggUiContainer .datatable .sortDsc {
    display: none;
}
.swggUiContainer .datatable td,
.swggUiContainer .datatable th {
    max-width: 10rem;
    overflow: auto;
    padding: 0.5rem;
}
.swggUiContainer .datatable th:first-child {
    padding-right: 2rem;
}
.swggUiContainer > .header {
    background: #8c0;
    padding: 0.5rem;
}
.swggUiContainer > .header > .td1 {
    font-size: x-large;
    background: transparent url(assets.lib.swgg.ui_logo_small.png) no-repeat left center;
    padding-left: 40px;
    color: white;
}
.swggUiContainer > .header > .td2 {
    font-size: medium;
    height: 2rem;
}
.swggUiContainer > .info > * {
    margin-top: 1rem;
}
.swggUiContainer > .info a {
    color: #370;
    text-decoration: underline;
}
.swggUiContainer > .info > .fontWeightBold {
    font-size: x-large;
}
.swggUiContainer > .info > ul {
    margin-left: 2rem;
}
.swggUiContainer > .modal {
    background: black;
    background: rgba(0,0,0,0.5);
    display: flex;
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
.swggUiContainer .operation {
    background: #dfd;
}
.swggUiContainer .operation > .content {
    padding: 1rem;
}
.swggUiContainer .operation > .content .label {
    color: #0b0;
}
.swggUiContainer .operation > .content pre {
    border: 1px solid #bbb;
    background: #ffd;
}
.swggUiContainer .operation > .content .tr {
    margin-left: 0.5rem;
}
.swggUiContainer .operation > .header:hover {
    background: #bfb;
}
.swggUiContainer .operation > .header > span {
    padding: 2px 0 2px 0;
}
.swggUiContainer .operation > .header > span:first-child {
    margin-left: 0;
}
.swggUiContainer .operation > .header > .td1 {
    background: #777;
    color: white;
    font-size: smaller;
    padding: 4px;
    height: 1.5rem;
    text-align: center;
    width: 4.5rem;
}
.swggUiContainer .operation > .header > .td3 {
    color: #777;
    text-decoration: none;
}
.swggUiContainer .operation > .header > .td4 {
    font-size: smaller;
    padding-right: 1rem;
}
.swggUiContainer .operation .paramDef pre,
.swggUiContainer .operation .paramDef textarea {
    height: 10rem;
}
.swggUiContainer .operation .paramDef > .td1 {
    flex: 2;
}
.swggUiContainer .operation .paramDef > .td2 {
    flex: 1;
}
.swggUiContainer .operation .paramDef > .td3 {
    flex: 3;
}
.swggUiContainer .operation .paramDef > .td4 {
    flex: 3;
}
.swggUiContainer .operation .responseList > .td1 {
    flex: 1;
}
.swggUiContainer .operation .responseList > .td2 {
    flex: 4;
}
.swggUiContainer .resource > .header > .td1 {
    font-size: large;
}
.swggUiContainer .resource > .header > .td2,
.swggUiContainer .resource > .header > .td3 {
    border-right: 1px solid #777;
    padding-right: 1rem;
}



/* method */
.swggUiContainer .operation.DELETE > .header > .td1 {
    background: #b00;
}
.swggUiContainer .operation.GET > .header > .td1 {
    background: #093;
}
.swggUiContainer .operation.HEAD > .header > .td1 {
    background: #f30;
}
.swggUiContainer .operation.PATCH > .header > .td1 {
    background: #b0b;
}
.swggUiContainer .operation.POST > .header > .td1 {
    background: #07b;
}
.swggUiContainer .operation.PUT > .header > .td1 {
    background: #70b;
}
